.homeImg {
  background-image: url("https://cdn.pixabay.com/photo/2013/06/20/13/52/world-140304__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: red;
}

/* dropdown css for front page navbar */
.navbar .collapse .navbar-nav .frontpage_drop_down {
  position: relative;
  display: inline-block;
}
.navbar .collapse .navbar-nav .frontpage_drop_down .dropdown-item {
  color: black;
  border: none;
  cursor: pointer;
}
.navbar .collapse .navbar-nav .frontpage_drop_down .dropdown-menu {
  color: rgb(71, 20, 20);
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
  /* background-color: rgb(22, 25, 22); */
  opacity: 0.6;
}
.navbar
  .collapse
  .navbar-nav
  .frontpage_drop_down
  .dropdown-menu
  .dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}
.navbar .navbar-nav .frontpage_drop_down .dropdown-menu .dropdown-item:hover {
  color: white;
  background-color: black;
  text-transform: uppercase;
}
.navbar .navbar-nav .frontpage_drop_down:hover .dropdown-menu {
  display: block;
}
