*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #header{
        position: absolute;
        z-index: 10;
        width: 100%;
    }
    #header .navbar{
        padding: 50px 0;
        /* background-color: transparent; */
    }
    #header .collapse ul .nav-item{
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 50px;
    }
    #header .collapse ul .nav-item .nav-link{
        color: #fff !important;
        letter-spacing: 2px;
        font-size: 1em;
        font-weight: 700;
    }
    #header .collapse ul .nav-item .nav-link:hover{
        background: #dcdde1 !important;
        color: #262626 !important;
        border-radius: 5px;
        transition: all 0.6s ease 0s;
    }
    .main{
        position: relative;
        background:url('../../Images/first.png');
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        padding: 280px 0 220px;
        /* filter: blur(3px) !important;
        -webkit-filter: blur(3px); */
    }
    .main h2{
        font-size: 2.6em;
        color: #dcdde1 !important;
        text-transform: uppercase;
        font-weight: bold;
    }
    .main p{
        margin-top: 1em;
        padding: 0;
        font-size: 16px;
        color: #ccc;
        padding-bottom: 25px;
    }
    .main .readMore{
        background: #0f5ae6 !important;
        color: #fff;
        border-radius: 5px;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: bold;
    }
    #header .container-fluid .row .col-md-6{
        /* background-color: green; */
        display: flex; 
        justify-content: flex-end;
    }
    #header .container-fluid .row .col-md-6 > .instagram-section span i{
        font-size: 30px;
        color: #e95950
    }
    #header .container-fluid .row .col-md-6 .facebook-section span i{
        font-size: 30px;
        color: #106DB0;
    }
    #header .container-fluid .row .col-md-6 .twitter-section span i{
        font-size: 30px;
    color: #98DFFD;
    }
    #header .container-fluid .row .col-md-2 span{
        font-size: 20px;
        color: #fff;
    }
    #header .container-fluid .row .location-section span i{
        color: rgb(10, 172, 45);
    }
    #header .container-fluid .row .contact-section span i{
        color: rgb(4, 8, 5);
    }
    #header .container-fluid .row .contact-section span {
        color: #fff;
    }
    #header .container-fluid .row .col-md-6 .login-section .loginBtn{
        border-radius: 1rem;
    }
    #header .container-fluid .row{
        padding-top: 5px;
    }
    .searchBox{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    .searchBox .searchText{
        /* padding: 2rem; */
        width: 0rem;
        border: none;
        outline: none;
        border-radius: 5rem;
        transition: all 0.2s linear;
    }
    .searchBox .searchText:focus{
        outline: none;
    }
    .searchBox .searchBtn{
        width: 2.5rem;
        height: 2.5rem;
        background-color: #4eebeb;
        border-radius: 5rem;
        color: #fff;
        position: absolute;
        right: 1rem;
        display: grid;
        place-items: center;
    }
    .searchBox:hover > .searchText{
        width: 15rem;
        padding: 1rem;
    }
    .searchBox:hover > .searchBtn{
        background-color: #fff;
        color: #4eebeb;
    }
    /* for booking: frontpage */
    .bookingForm .row{
        margin: 10px 0;
    }
    .bookingForm .row .col-md-12{
        /* border: 2px solid red; */
        border-radius: 1rem;
    }
    .bookingForm{
        position: absolute;
        bottom: -80px;
        left: 100px;
    }
    .bookingForm .row .col-md-12 .row{
        justify-content: center;
        background-color: rgb(245, 244, 244);
        padding: 10px;
        border-radius: .8rem;
    }
    .bookingForm .row .col-md-12 .row .col-md-3{
        border-radius: 3rem;
    }
    .bookingForm .row .col-md-12 .row .col-md-3 .card .cardBody{
        min-height: 100px;
        /* background-color: red; */
    }
    .bookingForm .row .col-md-12 .row .col-md-3 .card .cardBody form label{
        font-size: 20px;
        padding: 10px;
        font-weight: 600;
    }
    .bookingForm .row .col-md-12 .row .col-md-3 .card .cardBody form select{
        width: 80%;
        padding: 5px;
        margin-left: 7px;
        border-radius: .2rem;
    }
    .bookingForm .row .col-md-12 .row .col-md-2 .bookSection .bookBtn{
    /* justify-content: center; */
    margin-top: 30px;
    width: 80%;
    color: #fff;
    font-weight: bold;
    border-radius: .5rem;
    }
    .bookingForm .row .col-md-12 .row .col-md-2 .bookSection .bookBtn:hover{
        text-transform: uppercase;
        font-weight: bold;
        color: #4eebeb;
        background-color: transparent;
        border: 2px solid #4eebeb;
    }
    .bookingForm .row .col-md-12 .row .col-md-3 .card .cardBody form input{
        width: 80%;
        margin-left: 7px;
    }
    /* choose us section */
    .chooseUsSection{
        margin: 5rem;
    }
    .chooseUsSection .row .col-md-12 h1{
        text-align: center;
        font-weight: bold;
    }
    .chooseUsSection .row .col-md-12 p{
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        color: rgb(50, 204, 232);
    }
    /* css for footer */
    footer .container-fluid .row {
        background-color: black;
        margin-top: 20px;
        padding-top: 20px;
      }
      footer .container-fluid .row .col-md-3 h4,
      h5 {
        color: rgb(50, 204, 232);
        text-align: center;
      }
      footer .container-fluid .row .col-md-3 p {
        color: white;
        text-align: center;
        font-weight: bold;
      }
      footer .container-fluid .row .col-md-3 p span {
        color: white;
        text-align: center;
        font-weight: bold;
      }
      footer .container-fluid .row .col-md-3 p a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
      footer .container-fluid .row .col-md-3 p a:hover {
        color: green;
      }
      footer .container-fluid .row .col-md-3 .footer-s-medias {
        text-align: center;
      }
      footer .container-fluid .row .col-md-3 .footer-s-medias .facebook a {
        color: #144dc7;
        font-size: 40px;
      }
      footer .container-fluid .row .col-md-3 .footer-s-medias .instagram a {
        color: #e4405f;
        font-size: 40px;
      }
      footer .container-fluid .row .col-md-3 .footer-s-medias .youtube a {
        color: #cd201f;
        font-size: 40px;
      }
      footer .container-fluid .row .col-md-3 .footer-s-medias .twitter a {
        color: #55acee;
        font-size: 40px;
      }
      /* css for copy right */
      footer .copyright_footer {
        background-color: rgba(20, 20, 20, 0.774);
        padding: 2px;
      }
      footer .copyright_footer p {
        padding-top: 5px;
        color: white;
        text-align: center;
        font-weight: bold;
      }
      footer .copyright_footer p a {
        color: rgb(50, 204, 232);
        text-decoration: none;
        font-weight: bold;
      }
    /* for newsletter email wala */
    .emailBox{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    .emailBox .newsLetter{
        padding: 1rem;
        width: 20rem;
        border: none;
        outline: none;
        border-radius: 5rem;
        transition: all 0.2s linear;
    }
    .emailBox .newsLetter:focus{
        outline: none;
    }
    .emailBox .telegramIcon{
        width: 3rem;
        height: 3rem;
        /* background-color: #fff; */
        border-radius: 5rem;
        color: #FBD961;
        position: absolute;
        right: 1rem;
        display: grid;
        place-items: center;
    }