
.homeImg{
    background-image: url("https://cdn.pixabay.com/photo/2013/06/20/13/52/world-140304__340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: red;
}