/* css for adding product by admin */
.product_details_admin .row .col-md-12 h1 {
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
  }
  .add_product_page .row {
    justify-content: center;
  }
  .add_product_page .row .col-md-10 .card {
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px grey;
    border: 1px solid green;
    border-radius: 15px;
  }
  .add_product_page .row .col-md-10 .card .card-body .row .col-md-12 form label {
    font-weight: bold;
  }
  .add_product_page .row .col-md-10 .card .card-body .row .col-md-12 form input {
    border: 1px solid green;
    border-radius: 15px;
  }
  .add_product_page
    .row
    .col-md-10
    .card
    .card-body
    .row
    .col-md-12
    form
    textarea {
    border: 1px solid green;
    border-radius: 15px;
  }
  .add_product_page
    .row
    .col-md-10
    .card
    .card-body
    .row
    .col-md-12
    form
    .input-group
    select {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: 400;
  }
  .add_product_page
    .row
    .col-md-10
    .card
    .card-body
    .row
    .col-md-12
    form
    .product_add_btn {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 1rem;
  }
  .add_product_page
    .row
    .col-md-10
    .card
    .card-body
    .row
    .col-md-12
    form
    .product_add_btn:hover {
    background-color: transparent;
    color: #69b1e9;
    text-transform: uppercase;
    border: 2px solid #69b1e9;
    margin-top: 10px;
  }
.hhh{
  background-color: black;
}
.hhh:hover{
  transform: scale(0.9);
}